
*{
  margin: 0;
  padding: 0;
  
}
::selection{
    background: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f8;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}