@import "tailwindcss";

::selection{
     background: transparent;
}
body{
    margin: 0;
    background-color: #f9f9f8;
    font-family: 'inter', sans-serif !important;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}